# Configurações do Mobile - NovaFitness
# Renomeie para .env na pasta mobile

# IP do servidor Backend na sua rede local
# Exemplo: http://192.168.0.105:5000/api
API_BASE=http://192.168.0.100:5000/api
